* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.container-amarelo {
    height: 500px;
    background-color: rgb(92, 7, 92);
}
.container-azul {
    height: 500px;
    background-color: rgb(28, 28, 87);
    position: relative;
    display: flex;
    justify-content: center;
}
.quadrado {
    height: 400px;
    width: 80%;
    background-color: rgb(100, 100, 100);
    position: absolute;
    top: -200px;
    transition: width 0.3s ease-in 1s;
    transition-delay: 0.3s;
}
.quadrado:hover {
    height: 600px;
    width: 85%;
    top: -300px;
}
.retangulo {
    height: 100vh;
    width: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 0.3s ease-in 1s;
    transition-delay: 0.4s;
}
.retangulo:hover {
    background-color: rgb(54, 54, 54);
    width: 300px;
}
.retangulo2 {
    height: 60px;
    background-color: rgb(169, 17, 17);
    position: fixed;
    top: 0;
}
.quadrado2 {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: palevioletred;
    top: 0;
    left: 0;
    z-index: 10;
    animation-name: movimentarQuadrado;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes movimentarQuadrado {
    0% {
        left: 0;
    }
    25% {
        left: 200px;
    }
    50% {
        left: 400px;
    }
    75% {
        left: 200px;
    }
    100% {
        left: 0;
    }
}